.library-hours {
    padding: 16px;
    width: 100%;
    height: fit-content;
    background-color: var(--BACKGROUND-SECONDARY);
    border-radius: 12px;
    box-shadow: var(--BOX-SHADOW);
}

.library-hours-table {
    border-collapse: collapse;
    width: 100%;
}

#hours tr {
    text-align: center;
    border: 1px solid rgba(122, 121, 120, .2);
    padding: 8px;
}

#hours tr:nth-child(even) {
    background-color: #EBE9F6;
}

#hours tr:nth-child(odd) {
    background-color: #E7F7F1;
}

#hours td {
    font-size: 0.85rem;
}