.contact-us {
    width: 100%;
    padding: 16px;
    height: fit-content;
    background-color: var(--BACKGROUND-SECONDARY);
    border-radius: 12px;
    box-shadow: var(--BOX-SHADOW);
    margin-top: 16px;
}

.contact-us-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(122, 121, 120, .2);
    margin-top: 16px;
    margin-bottom: 16px;
}