@import url("https://fonts.googleapis.com/css2?family=inter:wgth@100;200;300;400;500;600;700;800;900&display=swap");

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --BACKGROUND-PRIMARY: #EEF0F2;
  --BACKGROUND-SECONDARY: #F3F3F3;
  --TEXT: #1C120C;
  --TEXT-SECONDARY: #7A7978;
  --PRIMARY: rgb(26, 26, 147);
  --SECONDARY: #0DAB76;
  --BOX-SHADOW: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "inter", sans-serif;
  background-color: var(--BACKGROUND-PRIMARY);
  color: var(--TEXT);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialised;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

h6, label {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 0.85rem;
  font-weight: 400;
}

.page {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container {
  width: 75%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--BACKGROUND-PRIMARY);
  box-shadow: var(--BOX-SHADOW);
}